*{
    color: rgb(0, 153, 255);
}
#headingOne{
    color: rgb(135, 222, 157);
}
#headingTwo{
    color: fuchsia;
}
.myclass{
    background-color: lawngreen;
}
button{
    color: blanchedalmond;
}

.hlw-bg{
    color: red;
    text-align:end;


}
